# Compiler files
cache/
out/

# Ignores development broadcast logs
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/*/5/
/broadcast/**/dry-run/
*Scratch.s.sol*

# Docs
docs/

# Dotenv file
.env
